@model DownloadViewModel

@section Styles {
    <link href="~/Content/site/css/download.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.HeaderImage = "download.png";
    ViewBag.HeaderTitle = "Datei herunterladen";
}

@if (string.IsNullOrEmpty(Model.Error))
{
    if (!Model.DownloadData.Any())
    {
        <h3>Keine Dateien vorhanden</h3>
    }
    else
    {
        if (Model.DownloadData.Count() == 1)
        {
            <h3>1 Datei verfügbar:</h3>
        }
        else
        {
            <h3>@Model.DownloadData.Count() Dateien verfügbar:</h3>
        }
        <ul>
            @foreach (var dd in Model.DownloadData)
            {
                <li>
                    <span><a href="@dd.DownloadLink">@dd.FileName</a></span>
                    <span class="fileSize">@Html.ConvertFileSize(dd.FileSize)</span>
                    <span>@Html.ActionLink(" ", "DeleteFile", "Download", new { file = dd.FileName }, new { @class = "deleteLink" })</span>
                </li>
            }
        </ul>
    }
}
else
{
    <h3 id="error">@Model.Error</h3>
}
